extends layout

block content
  h1= title
  p Welcome to #{title}
  section#wrapper
  h2 Basic Structure
    section
    p
      span This is a span within a p within a div!
    -var name = "Mars"
    h1 Hello #{name}!
    - users = ['Sally', 'Joseph', 'Michael', 'Sanjay']
    each user in users
      p= user
    include footer

