h1 List of Subjects

	p
		a(href='/subjects/new', class='btn primary') Add a Subject

	if(subjects.length)
		table
			tr
				th Subject
					each subject in subjects
						tr
							td #{subject.name}
	else
		p Nothing here!